@charset "UTF-8";
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* Container */
.header-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Start reset styles block */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* End reset styles block */
/* еще вариант, который можете встретить
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
} */
.logo {
  display: flex;
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03rem;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 73px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #ffffff;
}

/* ---------------------- Header ------------------------*/
.page-header {
  border-bottom: 1px solid #ececec;
  bottom: -1px;
}

.header-container {
  display: flex;
}

/* --- START Navigation -----------*/
.nav-flex {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link, .site-nav .link-current {
  position: relative;
  display: flex;
  align-items: center;
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover, .site-nav .link-current:hover, .site-nav .link:focus, .site-nav .link-current:focus {
  color: #2196f3;
}
.site-nav .link:hover::before, .site-nav .link-current:hover::before, .site-nav .link:focus::before, .site-nav .link-current:focus::before {
  opacity: 1;
  transform: scaleX(1.67);
}
.site-nav .link::before, .site-nav .link-current::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
  transform: scaleX(0);
  transition: transform 330ms cubic-bezier(0.4, 0, 0.2, 1), opacity 650ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link-current {
  color: #2196f3;
}
.site-nav .link-current::before {
  opacity: 1;
  transform: none;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.auth-nav-icon {
  margin-right: 10px;
}
.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav .link, .auth-nav .site-nav .link-current, .site-nav .auth-nav .link-current {
  display: flex;
  align-items: center;
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.auth-nav .link:hover, .auth-nav .site-nav .link-current:hover, .site-nav .auth-nav .link-current:hover, .auth-nav .link:focus, .auth-nav .site-nav .link-current:focus, .site-nav .auth-nav .link-current:focus {
  color: #2196f3;
}

/* -----------------------------------Hero------------------------------- */
.hero {
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to left, rgba(65, 67, 80, 0.4), rgba(35, 36, 44, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 200px;
}
.hero .title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 700px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero .modal-btn {
  display: inline-block;
  width: 201px;
  height: 50px;
  padding: 10px 32px 10px 32px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .modal-btn:hover,
.hero .modal-btn:focus {
  background-color: #188CE8;
}

/* -----------------------------------Hero END------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
}

.modal-title {
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
  font-size: 20px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03rem;
}

.modal-form-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form-field:last-child {
  margin-bottom: 20px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input-text {
  display: block;
  margin-bottom: 4px;
  color: #757575;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.17;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 42px;
  background-color: transparent;
  color: #757575;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::-moz-placeholder, .modal-text::-moz-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-style: 14px;
  line-height: 1.17;
  letter-spacing: 0.01rem;
  color: #757575;
  opacity: 50%;
}

.modal-input::placeholder,
.modal-text::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-style: 14px;
  line-height: 1.17;
  letter-spacing: 0.01rem;
  color: #757575;
  opacity: 50%;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  resize: none;
}

.modal-input:focus,
.modal-text:focus {
  border-color: #2196f3;
}

.modal-input:focus + .input-icon {
  fill: #2196f3;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  display: flex;
  margin: 0 auto;
  width: auto;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06rem;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  color: #ffffff;
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.modal-check-text {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 14px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03rem;
  color: #757575;
}

.modal-check-text span {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #000000;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-modal-checked {
  fill: transparent;
}

/* обращаюсь к соседу, к его спану */
.modal-check:checked + .modal-check-text span {
  background-color: #2196f3;
  border: none;
}

/* обращаюсь к самой иконке */
.modal-check:checked + .modal-check-text .icon-modal-checked {
  fill: #ffffff;
  transform: scale(0.82);
}

.modal-policy {
  color: #2196f3;
  text-decoration: none;
  position: relative;
}

.modal-policy:after {
  position: absolute;
  height: 1px;
  margin: 0 auto;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  background-color: #2196f3;
  left: 0;
  bottom: 5px; /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-button-close {
  width: 11px;
  height: 11px;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.button-close:hover,
.button-close:focus {
  border: 1px solid var(--accent-color);
}

.button-close:hover .svg-button-close,
.button-close:focus .svg-button-close {
  fill: var(--accent-color);
  transform: rotate(45deg);
}

.page {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

/* еще вариант, который можете встретить
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
} */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */