%notification {
    background-color: #ccc;
    font-style: 20px;
    padding: 20px;
}

%page {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: Roboto, sans-serif;
  }

%uppercase {
    text-transform: uppercase;
  }
  
%thumb {
    position: relative;
  }