// Colors 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

$primary-text-color: #757575;
$title-text-color: #212121;

$accent-color: #2196f3;

$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;

$primary-bg-gray: #2f303a;

$logo-primary-color: #2196f3;
$logo-header-part: #000000;
$logo-footer-part: #ffffff;
$white: #ffffff;