
/* Container */
%container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

  /* Start reset styles block */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
 
  /* End reset styles block */

