/*--------------------------------------Advantages---------------------------------- */
.advantages-list {
    display: flex;
    flex-wrap: wrap;
}
  
.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list .item {  
  display: flex;
  flex-direction: column;  
  flex-basis: calc((100% - 3 * 30px) / 4);
  }

.advantages-list .item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.advantages-list .antenna::before {
  background-size: 70px 70px;
  background-image: url(../images/svg/advantages/antenna.svg);  
}
.advantages-list .clock::before {
  background-size: 70px 70px;
  background-image: url(../images/svg/advantages/clock.svg);  
}
.advantages-list .diagram::before {
  background-size: 70px 70px;
  background-image: url(../images/svg/advantages/diagram.svg);
}
.advantages-list .astronaut::before {
  background-size: 70px 70px;
  background-image: url(../images/svg/advantages/astronaut.svg);  
}

.advantages-list .item:not(:nth-child(4n + 4)) {
  margin-right: 30px;
}
.advantages-list .title {  
  margin-bottom: 10px;
}

.section .title {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03rem;
}
.section .description {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03rem;
}


/*---------------------------------END of Advantages---------------------------------- */