/* --------------------------------Our clients -------------------------------------*/
.our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .our-clients-block:not(:last-child){
    margin-right: 30px;
  }
  .our-clients-title {  
    color: var(--title-text-color);
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }
  .our-clients-list {
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  .our-clients-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    color: #AFB1B8;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .our-clients-link:hover,
  .our-clients-link:focus {
    cursor: pointer;
    border-color:var(--accent-color);
    outline: none;
  }
  
  .our-clients-svg {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);  
  }
  
  .our-clients-link:hover .our-clients-svg,
  .our-clients-link:focus .our-clients-svg {
    fill: var(--accent-color);
    transform: scale(1.4);
  }
  
  .our-clients-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
  }
  
  .our-clients-svg.company1 {
  max-height: 47px;
  }
  .our-clients-svg.company2 {
    max-height: 52px;
  }
  .our-clients-svg.company3 {
    max-height: 42px;
  }
  .our-clients-svg.company4 {
    max-height: 42px;
  }
  .our-clients-svg.company5 {
    max-height: 47px;
  }
  .our-clients-svg.company6 {
    max-height: 45px;
  }
  
  /* -------------------------END of Our clients -------------------------------------*/